@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #eae6e1;
    --foreground: #001b41;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: #5a5a60;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: #357392;
    --primary-foreground: #ffffff;
    --secondary: #a54a23;
    --secondary-foreground: #ffffff;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-inter;
  }
  h1 {
    @apply font-passion-one text-4xl md:text-5xl;
  }
  h2 {
    @apply font-passion-one text-3xl md:text-4xl;
  }

  ul,
  ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}

.grecaptcha-badge {
  visibility: hidden !important;
}
