# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# VS Code
.vscode/

# .env files
.env

# Log files
*.log

# macOS
.DS_Store

# files too large for github
data_level0.bin
chroma.sqlite3

# docs
tenancy_docs/load_docs/docs